.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon {
  position: sticky;
  top: 0px;
  right: 0px;
  margin-left: auto;
}
.imageContent {
  position: relative;
}
.imageContent::-webkit-scrollbar {
  display: none;
}
